.controls-bar {
  position: sticky;
  top: 0;
  /* background: rgba(10, 10, 10, 0.95);*/ /*<--se comenta para el light theme*/
  border-bottom: 1px solid var(--border-main);
  padding: 10px 12px;
  display: flex;
  gap: 6px;
  align-items: center;
  z-index: 100;
  flex-wrap: wrap;
}

.main-container {
  flex: 1;
  height: calc(100vh - 60px);
  display: block;
  overflow: hidden;
}

.left-panel {
  position: relative;
  background: radial-gradient(circle at center, var(--track-center) 0%, var(--track-bg) 100%);
  border-right: 1px solid var(--border-main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.telemetry-panel {
  height: 100%;
  padding: 40px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  background-color: var(--panel-bg);
  border-right: 1px solid var(--border-main);
  box-sizing: border-box;
  overflow-y: hidden;
}

.charts-panel {
  height: 100%;
  padding: 10px 15px;
  background: var(--bg-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.tab-content {
  display: none;
  width: 100%;
}

#tab-telemetry.active {
  display: grid;
  grid-template-columns: minmax(460px, 0.8fr) 1.2fr;
  height: 100%;
}

#tab-charts.active {
  display: block;
  height: 100%;
  width: 100%;
}

@media (max-width: 1850px) {
  .main-container {
    grid-template-columns: minmax(460px, 1fr) minmax(760px, 1fr);
  }
  .charts-panel {
    grid-column: 1 / -1;
    border-top: 1px solid var(--border-main);
  }
}

@media (max-width: 1300px) {
  .main-container {
    grid-template-columns: 1fr;
  }
  .left-panel {
    border-right: 0;
    border-bottom: 1px solid var(--border-main);
  }
  .telemetry-panel {
    border-right: 0;
    border-bottom: 1px solid var(--border-main);
  }
}

/* --- Header y Barra Superior --- */

/* Controlar la visualización y tipografía del temporizador de grabación. */
#rec-timer {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
  display: none;
}

/* Manejar la estructura principal del contenedor de la línea de tiempo. */
#timeline-container {
  display: none;
  flex: 1;
  align-items: center;
  gap: 0;
  margin: 0 10px;
}

/* Envolver los elementos internos de la línea de tiempo. */
.timeline-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

/* Dar estilo a la etiqueta descriptiva del control de tiempo. */
.timeline-label {
  color: var(--text-muted);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  font-weight: bold;
  white-space: nowrap;
}

/* Contener y formatear el valor numérico del tiempo seleccionado. */
.timeline-value-box {
  color: var(--text-main);
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;
  white-space: nowrap;
  width: 100px;
  text-align: right;
}