/* Definir variables globales de estilo por defecto (Tema oscuro). */
:root {
    /* Paleta de fondos oscuros */
    --bg-color: #0b0b0b;
    --panel-bg: #111;
    --card-bg: #141414;
    --track-bg: #000;
    --track-center: #1a1a1a;

    /* Tipografía y textos */
    --text-main: #e0e0e0;
    --text-muted: #a0a0a0;

    /* Colores de estado */
    --color-pos: #00cc66;
    --color-neg: #ff3333;
    --color-tab: #0055ff;
    --btn-color: var(--color-tab);
    
    /* Bordes y líneas */
    --border-main: #333;       
    --border-muted: #222;      
    --border-bright: #444;

    /* Estados y hovers */
    --bg-hover: #555;
    --shadow-modal: rgba(0, 0, 0, 0.4);

    /* Geometría */
    --radius-std: 4px;
    --radius-round: 8px;   
}

/* Implementar paleta de colores para el tema claro */
[data-theme="light"] {
    /* Paleta de fondos */
    --bg-color: ;
    --panel-bg: ;
    --card-bg: ;
    --track-bg: ;
    --track-center: ;

    /* Tipografía y textos */
    --text-main: ;
    --text-muted: ;

    /* Colores de estado */
    --color-pos: ;
    /* Se recomienda utilizar #FF0000 para títulos en este tema por su contraste */
    --color-neg: ;
    --color-tab: ;
    --btn-color: ;

    /* Bordes y líneas */
    --border-main: ;       
    --border-muted: ;      
    --border-bright: ;

    /* Estados y hovers */
    --bg-hover: ;
    --shadow-modal: ;
}

/* 
  Respaldo de los colores originales para referencia:
  --bg-color: #d6e0f0;
  --panel-bg: #d6e0f0d6;
  --card-bg: #d6e0f0;
  --track-bg: #d6e0f0;
  --track-center: #b5c0cf;
  --text-main: #1c1c1c;
  --text-muted: #1c1c1c;
  --color-pos: #0cc403;
  --color-neg: #d61b1b;
  --color-tab: #0055ff;
  --border-main: #3d3a3a;       
  --border-muted: #787878;      
  --border-bright: #151313;
  --bg-hover: #b5c0cf;
  --shadow-modal: rgba(255, 255, 255, 0.938);
*/
